* {
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: rgb(39, 38, 38);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  width: 100%;
}

.left-nav {
  display: flex;
}

.right-nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

.link {
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.profile-image {
  border-radius: 50%;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main .logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 30%;
}

main .logo-container .logo {
  padding-bottom: 20px;
}

.input-container {
  width: 100%;
}

.search-container {
  width: auto;
  max-width: 584px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
}

/* .search-container .search-field {
  height: 44px;
  width: 584px;
} */

.search-container:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

/* .search-container .search-field:focus {
  height: 44px;
  width: 584px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
} */

.fa-search {
  padding: 10px;
  opacity: 50%;
}

.search-container .search-field {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 18px;
  border: none;
}

.search-container .search-field:focus {
  outline: none;
}

.buttons {
  display: flex;
  width: 584px;
  justify-content: center;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
}

button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(223, 225, 229, 0.6);
  flex-grow: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lower-links {
    margin: 10px;
  }
}
